.mleft{
    margin-left: 10px;
    float: left;
    margin-top: 10px;
}

.mimage:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.mimage:hover:after {
    opacity: 1;
}

.logotext{
    margin-left: 80%;
}

.mar0{
    margin: 0 !important;
}

.smalllogo{
    height: 45px !important;
}

.smalllogotext{
    margin-left: 55% !important;
    margin-top: 10px !important;
}