<!-- Page Loader -->
<div class="page-loader">
  <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->

<!-- Page Wrap -->
<div class="page" id="top">

  <!-- Home Section -->
  <div class="home-section fullscreen-container" id="home">
    <div class="fullscreenbanner-s bg-dark">
      <ul>
        <!-- Slide Item -->
        <li data-transition="fade" data-slotamount="7" data-title="Intro Slide">

          <img src="../assets/images/full-width-images/section-bg-18.jpg" alt="" data-designmode="sec-bg-img">
          <div class="caption customin customout tp-resizeme hs-line-8 no-transp font-alt" data-x="center" data-hoffset="0" data-y="center"
            data-voffset="-100" data-customin="x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="800" data-start="800" data-startslide="1" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-designmode="rpaid-caption">

            A powerful plug-in that automagically makes AEM Headless

          </div>

          <div class="caption customin customout tp-resizeme hs-line-14 font-alt" data-x="center" data-hoffset="0" data-y="center"
            data-voffset="-14" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="800" data-start="1200" data-startslide="1" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-designmode="home-title">

            RAPID

          </div>     

          <div class="caption customin customout tp-resizeme no-transp serif"
           data-x="center" data-hoffset="0" data-y="center" 
           data-voffset="83" 
           data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
           data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="800" data-start="1500" data-startslide="1" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn">

            <div class="local-scroll" data-designmode="rapid-desc">
              RAPID is a Adobe Experience Manager Plug-in that allows you to <b>DECOUPLE</b> your AEM instance from your
              web application while still using AEM's WYSIWYG in-page editing
              <!-- <br>
                              <div class="center">
                                  <a href="#about" class="btn btn-mod btn-border-w btn-medium btn-round">
                                      See More
                                  </a>
                                  
                                  <span>&nbsp;</span>
                                  
                                  <a href="https://youtu.be/4B1tQQEJPW8" class="btn btn-mod btn-border-w btn-medium btn-round lightbox mfp-iframe">Play Reel</a>
                              </div> -->

            </div>

          </div>

        </li>       

      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
  </div>
  <!-- End Home Section -->


  <!-- Navigation panel -->
  <nav class="main-nav dark transparent stick-fixed">
    <div class="full-wrapper relative clearfix">
      <!-- Logo ( * your text or image into link tag *) -->
      <div class="nav-logo-wrap local-scroll">
        <a href="#top" class="logo">
                  <img class="mleft" src="../assets/images/logo-white.png" alt="" />
                  <h2 class="logotext">Solutions</h2>
        </a>
      </div>
      <div class="mobile-nav">
        <i class="fa fa-bars"></i>
      </div>
      <!-- Main Menu -->
      <div class="inner-nav desktop-nav">
        <ul class="clearlist scroll-nav local-scroll">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#aboutrapid">RAPID</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#aboutaande">About</a></li>
          <li><a href="#contact">Contacts</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navigation panel -->

  <!-- About Aandes Section -->
  <section class="page-section" id="aboutaande">
    <div class="container relative">

      <h2 class="section-title font-alt mb-70 mb-sm-40">
        About A&E Solutions
      </h2>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
        <li class="active">
          <a href="#service-branding" data-toggle="tab">

            <div class="alt-tabs-icon">
              <span class="icon-gears"></span>
            </div>

            Services
          </a>
        </li>
        <li>
          <a href="#service-web-design" data-toggle="tab">

            <div class="alt-tabs-icon">
              <span class="fa fa-bullseye"></span>
            </div>

            Mission
          </a>
        </li>
        <li>
          <a href="#service-graphic" data-toggle="tab">

            <div class="alt-tabs-icon">
              <span class="icon-tools"></span>
            </div>

            Our Expertise
          </a>
        </li>

      </ul>
      <!-- End Nav tabs -->

      <!-- Tab panes -->
      <div class="tab-content tpl-tabs-cont">

        <!-- Service Item -->
        <div class="tab-pane fade in active" id="service-branding">

          <div class="section-text">
            <div class="row">
              <div class="col-md-4 mb-md-40 mb-xs-30">
                <!-- <blockquote class="mb-0"> -->
                <p>
                  A&E Solutions was started by a couple of developers who continuously had to solve their own problems, after searching for
                  pre-existing answers to many of their CMS needs. When their endless searches yielded little return, and
                  top consulting agencies said it couldn't be done, they decided to band together to create their own solutions,which
                  lead to the birth of the first Enterprise Content Management decoupling tool. During their careers, they
                  have each held many different roles at the corporate level and in startup companies. Since they decided
                  to bring their unique skills together, they have been helping other companies save time, money and resources.
                  There is zero doubt that a Headless Content Management System will do just this!
                </p>
                <!-- </blockquote> -->
              </div>
              <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                Every company has technical debt, legacy systems and unique company processes that need to be understood before solutions
                can be given. While each company needs to keep up with evolving technologies, it's not always possible to
                start from scratch. A&E Solutions are experts in helping organizations through the inevitable growing pains
                that accompany transition periods as they implement new or existing CMSs. The Real Group just came out saying
                Headless CMS Architectures are the future of CMSs. There is no doubt that a Decoupled Content Management
                System can facilitate this transition.
              </div>
              <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                <blockquote class="mb-0">
                  A&E Solutions provides a comprehensive set of solutions that is tailored to companies' needs in any stage of the CMS transition
                  process. They are a technical consulting company that specializes in Adobe Experience Manager (AEM) implementations.
                  This includes Data Migration Strategy, Decoupling CMS Implementations, e.g., RAPID and CMS Technical Strategy.
                  Using their revolutionary product RAPID with Adobe Experience manager (AEM), website implementations are
                  reduced by 90%, which also enables technology decisions to remain where they belong, with the IT team.
                </blockquote>
              </div>
            </div>
          </div>

        </div>
        <!-- End Service Item -->

        <!-- Service Item -->
        <div class="tab-pane fade" id="service-web-design">

          <div class="section-text">
            <div class="row">
              <div class="col-md-4 mb-md-40 mb-xs-30">
                <!-- <blockquote class="mb-0"> -->
                <p>
                  A&E Solutions was started by a couple of developers who continuously had to solve their own problems, after searching for
                  pre-existing answers to many of their CMS needs. When their endless searches yielded little return, and
                  top consulting agencies said it couldn't be done, they decided to band together to create their own solutions,which
                  lead to the birth of the first Enterprise Content Management decoupling tool. During their careers, they
                  have each held many different roles at the corporate level and in startup companies. Since they decided
                  to bring their unique skills together, they have been helping other companies save time, money and resources.
                  There is zero doubt that a Headless Content Management System will do just this!
                </p>

                <!-- </blockquote> -->
              </div>
              <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                Every company has technical debt, legacy systems and unique company processes that need to be understood before solutions
                can be given. While each company needs to keep up with evolving technologies, it's not always possible to
                start from scratch. A&E Solutions are experts in helping organizations through the inevitable growing pains
                that accompany transition periods as they implement new or existing CMSs. The Real Group just came out saying
                Headless CMS Architectures are the future of CMSs. There is no doubt that a Decoupled Content Management
                System can facilitate this transition.
              </div>
              <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                <blockquote class="mb-0">
                  To provide cost-saving, uniquely tailored solutions to companies that would like to keep their applications and Web Content
                  Management System decoupled.
                </blockquote>
              </div>
            </div>
          </div>

        </div>
        <!-- End Service Item -->

        <!-- Service Item -->
        <div class="tab-pane fade" id="service-graphic">

          <div class="section-text">
            <div class="row">
              <div class="col-md-4 mb-md-40 mb-xs-30">
                <!-- <blockquote class="mb-0"> -->
                <p>
                  A&E Solutions was started by a couple of developers who continuously had to solve their own problems, after searching for
                  pre-existing answers to many of their CMS needs. When their endless searches yielded little return, and
                  top consulting agencies said it couldn't be done, they decided to band together to create their own solutions,which
                  lead to the birth of the first Enterprise Content Management decoupling tool. During their careers, they
                  have each held many different roles at the corporate level and in startup companies. Since they decided
                  to bring their unique skills together, they have been helping other companies save time, money and resources.
                  There is zero doubt that a Headless Content Management System will do just this!
                </p>

                <!-- </blockquote> -->
              </div>
              <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                Every company has technical debt, legacy systems and unique company processes that need to be understood before solutions
                can be given. While each company needs to keep up with evolving technologies, it's not always possible to
                start from scratch. A&E Solutions are experts in helping organizations through the inevitable growing pains
                that accompany transition periods as they implement new or existing CMSs. The Real Group just came out saying
                Headless CMS Architectures are the future of CMSs. There is no doubt that a Decoupled Content Management
                System can facilitate this transition.
              </div>
              <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                <blockquote class="mb-0">
                  A&E Solutions is an Adobe Solutions Provider whose owners combined pose three decades of technical expertise in Enterprise
                  Web Content Management, Software Development, User Interface Development, Web Applications Development,
                  Device/Mobile Development, Usability Experience, Graphic Design, Architecture Design, IT System Admin,
                  Enterprise WCM Design, Development and Architecture.
                </blockquote>
              </div>
            </div>
          </div>

        </div>
        <!-- End Service Item -->

        <!-- Service Item -->
        <div class="tab-pane fade" id="service-development">

          <div class="section-text">
            <div class="row">
              <div class="col-md-4 mb-md-40 mb-xs-30">
                <blockquote class="mb-0">
                  <p>
                    All that is&nbsp;valuable in&nbsp;human society depends upon the opportunity for development accorded the individual.
                  </p>
                  <footer>
                    Albert Einstein
                  </footer>
                </blockquote>
              </div>
              <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                Fusce hendrerit vitae nunc id gravida. Donec euismod quis ante at mattis. Mauris dictum ante sit amet enim interdum semper.
                Vestibulum odio justo, faucibus et dictum eu, malesuada nec neque. Maecenas volutpat, diam enim sagittis.
              </div>
              <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Sed id dolor consectetur fermentum volutpat nibh, accumsan
                purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. Inmed maximus ligula metus pellentesque.
              </div>
            </div>
          </div>

        </div>
        <!-- End Service Item -->

        <!-- Service Item -->
        <div class="tab-pane fade" id="service-photography">

          <div class="section-text">
            <div class="row">
              <div class="col-md-4 mb-md-40 mb-xs-30">
                <blockquote class="mb-0">
                  <p>
                    Photography is&nbsp;the simplest thing in&nbsp;the world, but it&nbsp;is&nbsp;incredibly complicated to&nbsp;make it&nbsp;really
                    work.
                  </p>
                  <footer>
                    Martin Parr
                  </footer>
                </blockquote>
              </div>
              <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus. Pellentesque suscipit ante at
                ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet, iaculis
                libero.
              </div>
              <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus.
                Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. In maximus ligula metus pellentesque mattis.
              </div>
            </div>
          </div>

        </div>
        <!-- End Service Item -->

      </div>
      <!-- End Tab panes -->

    </div>
  </section>
  <!-- End Services Section -->

  <!-- About RAPID Section -->
  <section class="page-section" id="aboutrapid">
    <div class="container relative">

      <h2 class="section-title font-alt align-left mb-70 mb-sm-40" data-designmode="aboutrapid-title">
        About RAPID
      </h2>

      <div class="section-text mb-50 mb-sm-20">
        <div class="row">

          <div class="col-md-4">
            <blockquote>
              <p class="aem-comp-dnd" data-designmode="aboutrapid-quote">
                A Headless solution that works harder so you can work less!<br/>A powerful add-on application for Adobe Experience
                Manager that allows websites to act independently of AEM.
              </p>
            </blockquote>
          </div>

          <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30" data-designmode="aboutrapid-col1">
            RAPID stands for Reconstructive API for the DOM and it is an add-on application for Adobe Experience Manager (AEM) that allows
            websites to act independently of AEM. Simply said, this revolutionary product gives developers an API to decouple
            websites from AEM. When licensing a copy of RAPID for your AEM instance, implementation costs can be reduced
            by as much as 80%. No matter which technology stack used, AEM is now compatible, thanks to RAPID. This decoupling
            approach has never been taken before with CMS's, and was once thought that it couldn't be done. RAPID was designed
            to work independently of any programming language or development approach. This easy to use, tag-based approach
            leaves little development for your IT staff, and allows companies to focus on company strategic initiatives.
          </div>

          <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30" data-designmode="aboutrapid-col2">
            When moving to AEM, best case scenario is your team already knows JAVA, and the migration of all your code could be reduced.
            Even with the best case scenario, it is still a major development initiative. But what happens if your tech stack
            doesn't fit in with AEM's world class technology stack? The predicament companies find themselves in is to rebuild.
            That is a very risky approach, not to mention expensive and time consuming. When switching programming languages,
            most companies become dependent on consulting agencies to build out their new AEM site. In the process of rebuilding,
            you lose System Matter Experts (SME) and create even more dependencies on consulting agencies.
          </div>

        </div>
      </div>

      <!-- <div class="row"> -->

      <!-- Team item -->
      <!-- <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                  <div class="team-item">
                      
                      <div class="team-item-image">
                          
                          <img src="../assets/images/team/team-1.jpg" alt="" />
                          
                          <div class="team-item-detail">
                              
                              <h4 class="font-alt normal">Hello & Welcome!</h4>
                              
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam. 
                              </p>
                              
                              <div class="team-social-links">
                                  <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                  <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                  <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                              </div>
                              
                          </div>
                      </div>
                      
                      <div class="team-item-descr font-alt">
                          
                          <div class="team-item-name">
                              Thomas Rhythm 
                          </div>
                          
                          <div class="team-item-role">
                              Art Director
                          </div>
                          
                      </div>
                      
                  </div>
              </div> -->
      <!-- End Team item -->

      <!-- Team item -->
      <!-- <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="team-item">
                      
                      <div class="team-item-image">
                          
                          <img src="../assets/images/team/team-2.jpg" alt="" />
                          
                          <div class="team-item-detail">
                              
                              <h4 class="font-alt normal">Nice to meet!</h4>
                              
                              <p>
                                  Curabitur augue, nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique porta.
                              </p>
                              
                              <div class="team-social-links">
                                  <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                  <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                  <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                              </div>
                              
                          </div>
                      </div>
                      
                      <div class="team-item-descr font-alt">
                          
                          <div class="team-item-name">
                              Marta Laning
                          </div>
                          
                          <div class="team-item-role">
                              Web engineer
                          </div>
                          
                      </div>
                      
                  </div>
              </div> -->
      <!-- End Team item -->

      <!-- Team item -->
      <!-- <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                  <div class="team-item">
                      
                      <div class="team-item-image">
                          
                          <img src="../assets/images/team/team-3.jpg" alt="" />
                          
                          <div class="team-item-detail">
                              
                              <h4 class="font-alt normal">Whats Up!</h4>
                              
                              <p>
                                  Adipiscing elit curabitur eu&nbsp;adipiscing lacus eu&nbsp;adipiscing lacus, a&nbsp;iaculis diam. 
                              </p>
                              
                              <div class="team-social-links">
                                  <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                  <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                  <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                              </div>
                              
                          </div>
                      </div>
                      
                      <div class="team-item-descr font-alt">
                          
                          <div class="team-item-name">
                              Steve ANDERS
                          </div>
                          
                          <div class="team-item-role">
                              Developer
                          </div>
                          
                      </div>
                      
                  </div>
              </div> -->
      <!-- End Team item -->

      <!-- </div> -->


    </div>
  </section>
  <!-- End About Section -->

  <!-- Call Action Section -->
  <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="../assets/images/full-width-images/section-bg-2.jpg">
    <div class="container relative">

      <div class="row">

        <div class="col-sm-6">

          <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
            <div class="banner-content">
              <h3 class="banner-heading font-alt">A&E Solutions In The News</h3>
              <div class="banner-decription">
                A&E Solutions expertise in Adobe Experience Manager helps The Hertz Corporation re-brand their family of websites in less
                than three months. Hertz.com, hertzcarsales.com, dollar.com and thrifty.com
              </div>
              <div class="local-scroll">
                <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">Lets talk</a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm-6 banner-image wow fadeInUp" data-wow-duration="1.2s">
          <img src="../assets/images/promo-1.png" alt="" />
        </div>

      </div>

    </div>
  </section>
  <!-- End Call Action Section -->

  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container relative">

      <h2 class="section-title font-alt mb-70 mb-sm-40">
        Our Services
      </h2>

      <!-- Features Grid -->
      <div class="row multi-columns-row alt-features-grid">

        <!-- Features Item -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="alt-features-item align-center">
            <div class="alt-features-icon">
              <span class="icon-linegraph"></span>
            </div>
            <h3 class="alt-features-title font-alt">RAPID</h3>
            <div class="alt-features-descr align-left">
              Contact our sales team to find out how you can purchase a copy of this revolutionary CMS adapter.
            </div>
          </div>
        </div>
        <!-- End Features Item -->

        <!-- Features Item -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="alt-features-item align-center">
            <div class="alt-features-icon">
              <span class="fa fa-tasks"></span>
            </div>
            <h3 class="alt-features-title font-alt">Consulting</h3>
            <div class="alt-features-descr align-left">
              Hire A&E Solutions to help implement RAPID into your CMS.
            </div>
          </div>
        </div>
        <!-- End Features Item -->

        <!-- Features Item -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="alt-features-item align-center">
            <div class="alt-features-icon">
              <span class="fa fa-wrench"></span>
            </div>
            <h3 class="alt-features-title font-alt">Architecture</h3>
            <div class="alt-features-descr align-left">
              A&E Solutions provides proven architecture solutions for your application website and CMS.
            </div>
          </div>
        </div>
        <!-- End Features Item -->

        <!-- Features Item -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="alt-features-item align-center">
            <div class="alt-features-icon">
              <span class="fa fa-eye"></span>
            </div>
            <h3 class="alt-features-title font-alt">WCM Strategy</h3>
            <div class="alt-features-descr align-left">
              Our team will work with yours to help bridge a WCM Strategy and your Content Strategy
            </div>
          </div>
        </div>
        <!-- End Features Item -->

        <!-- Features Item -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="alt-features-item align-center">
            <div class="alt-features-icon">
              <span class="fa fa-book"></span>
            </div>
            <h3 class="alt-features-title font-alt">Training</h3>
            <div class="alt-features-descr align-left">
              Innovative custom solutions for your team.
            </div>
          </div>
        </div>
        <!-- End Features Item -->

        <!-- Features Item -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="alt-features-item align-center">
            <div class="alt-features-icon">
              <span class="icon-chat"></span>
            </div>
            <h3 class="alt-features-title font-alt">UI Experts</h3>
            <div class="alt-features-descr align-left">
              UI is more important than ever, see how our approach to web development takes this into account.
            </div>
          </div>
        </div>
        <!-- End Features Item -->
        <!-- Features Item -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="alt-features-item align-center">
            <div class="alt-features-icon">
              <span class="fa fa-pencil-square-o"></span>
            </div>
            <h3 class="alt-features-title font-alt">Fresh ideas</h3>
            <div class="alt-features-descr align-left">
              We pride our company on being forward-thinking and solutions-orientated, whatever the problem we can work with you to come
              up with a solution.
            </div>
          </div>
        </div>
        <!-- End Features Item -->

        <!-- Features Item -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="alt-features-item align-center">
            <div class="alt-features-icon">
              <span class="fa fa-shopping-cart"></span>
            </div>
            <h3 class="alt-features-title font-alt">E-Commerce</h3>
            <div class="alt-features-descr align-left">
              Our solution will work with your e-Commerce site too.
            </div>
          </div>
        </div>
        <!-- End Features Item -->

      </div>
      <!-- End Features Grid -->

    </div>
  </section>
  <!-- End Services Section -->


  <!-- Call Action Section -->
  <section class="small-section bg-dark">
    <div class="container relative">

      <div class="align-center">
        <h3 class="banner-heading font-alt">Like RAPID?</h3>
        <div class="local-scroll">
          <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">Try RAPID</a>
        </div>
      </div>

    </div>
  </section>
  <!-- End Call Action Section -->

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container relative">

      <h2 class="section-title font-alt mb-70 mb-sm-40">
        Contact
      </h2>

      <div class="row mb-60 mb-xs-40">

        <div class="col-md-8 col-md-offset-2">
          <div class="row">

            <!-- Phone -->
            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
              <div class="contact-item">
                <div class="ci-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="ci-title font-alt">
                  Call Us
                </div>
                <div class="ci-text">
                  +(973) 996-4993
                </div>
              </div>
            </div>
            <!-- End Phone -->

            <!-- Address -->
            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
              <div class="contact-item">
                <div class="ci-icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="ci-title font-alt">
                  Address
                </div>
                <div class="ci-text">
                  78 John Miller Way. Suite 427,Kearny, NJ 07032
                </div>
              </div>
            </div>
            <!-- End Address -->

            <!-- Email -->
            <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
              <div class="contact-item">
                <div class="ci-icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="ci-title font-alt">
                  Email
                </div>
                <div class="ci-text">
                  <a href="mailto:support@bestlooker.pro">support@aandes.io</a>
                </div>
              </div>
            </div>
            <!-- End Email -->

          </div>
        </div>

      </div>

      <!-- Contact Form -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <form class="form contact-form" id="contact_form">
            <div class="clearfix">

              <div class="cf-left-col">

                <!-- Name -->
                <div class="form-group">
                  <input type="text" name="name" id="name" class="input-md round form-control" placeholder="Name" pattern=".{3,100}" required>
                </div>

                <!-- Email -->
                <div class="form-group">
                  <input type="email" name="email" id="email" class="input-md round form-control" placeholder="Email" pattern=".{5,100}" required>
                </div>

              </div>

              <div class="cf-right-col">

                <!-- Message -->
                <div class="form-group">
                  <textarea name="message" id="message" class="input-md round form-control" style="height: 84px;" placeholder="Message"></textarea>
                </div>

              </div>

            </div>

            <div class="clearfix">

              <div class="cf-left-col">

                <!-- Inform Tip -->
                <div class="form-tip pt-20">
                  <i class="fa fa-info-circle"></i> All the fields are required
                </div>

              </div>

              <div class="cf-right-col">

                <!-- Send Button -->
                <div class="align-right pt-10">
                  <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Submit Message</button>
                </div>

              </div>

            </div>
            <div id="result"></div>
          </form>

        </div>
      </div>
      <!-- End Contact Form -->

    </div>
  </section>
  <!-- End Contact Section -->


  <!-- Google Map -->
  <div class="google-map">

    <div data-address="Belt Parkway, Queens, NY, United States" id="map-canvas"></div>

    <div class="map-section">

      <div class="map-toggle">
        <div class="mt-icon">
          <i class="fa fa-map-marker"></i>
        </div>
        <div class="mt-text font-alt">
          <div class="mt-open">Open the map <i class="fa fa-angle-down"></i></div>
          <div class="mt-close">Close the map <i class="fa fa-angle-up"></i></div>
        </div>
      </div>

    </div>

  </div>
  <!-- End Google Map -->


  <!-- Foter -->
  <footer class="page-section bg-gray-lighter footer pb-60">
    <div class="container">

      <!-- Footer Logo -->
      <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.2s">
        <a href="#top"><img src="../assets/images/logo-footer.png" width="78" height="36" alt="" /></a>
      </div>
      <!-- End Footer Logo -->

      <!-- Social Links -->
      <div class="footer-social-links mb-110 mb-xs-60">
        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
        <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
      </div>
      <!-- End Social Links -->

      <!-- Footer Text -->
      <div class="footer-text">

        <!-- Copyright -->
        <div class="footer-copy font-alt">
          <a href="https://www.aandes.com/" target="_blank">&copy; A&E Solutions</a>.
        </div>
        <!-- End Copyright -->

        <div class="footer-made">
          Revolutionizing Content Mangement Systems implementations
        </div>

      </div>
      <!-- End Footer Text -->

    </div>


    <!-- Top Link -->
    <div class="local-scroll">
      <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- End Top Link -->

  </footer>
  <!-- End Foter -->


</div>
<!-- End Page Wrap -->
